@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

p {
    padding: 10px 20px 10px 20px;
}

header {
    background-color: rgba(68, 78, 88, 0.9);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0%;
}

.game {
    width: 60%;
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    background-color: darkgrey;
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
    height: 30px;
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
}

button:hover {
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0) inset;
}

button:active {
    background-color: darkgrey;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0) inset;
}

.scores {
    background-color: darkgrey;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.player {
    color: darkblue;
}

.computer {
    color: darkred;
}

.results {
    background-color: darkgrey;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

footer {
    background-color: rgba(68, 78, 88, 0.9);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0%;
}